.access{
    background-color: var(--desaturated-blue);
    &-content{
        padding:3rem;
        color:var(--grayish-blue);

        &__title{
            font-size:15px;
        }
    }

    &-form{
        padding:0 1rem;
    }
}