.access{
    background-color: var(--desaturated-blue);
    &-content{
        padding:3rem;
        color:var(--grayish-blue);

        @include media(large){
            @include flex(row,space-between,center);
            padding-left:5rem;
            padding-right:5rem;
        }
        &__title{
            font-size:15px;
            @include media(medium){
                font-size:2rem;
            }
        }
    }

    &-information{
        @include media(large){
            width:50%;
        }
    }
    &-form{
        padding:0 1rem;
        @include media(large){
            width:50%;
            padding-left:5rem;

        }
        & > input{
            @include media(large){
                width: 90%;
                margin-bottom: 1rem;
            }
                
        }
        
    }
}

