
.button{
    padding: .8rem 3rem;
    font-weight: 700;
    font-size:.8rem;
}

.button-blue{
    color:white;
    background-color: var(--bright-blue);
}

.button-banner{
    width: 100%;
    @include media(medium){
        width: 50%;
    }
    @include media(large){
        width: 40%;
    }
}