.main-header{
    margin-top:1rem;
}

.main-header__item{
    
}

.main-menu{
    @include flex(column,center,center);

    @include media(semismall){
        @include flex(row,space-between,center);
        margin-bottom: 1rem;

    }
    &__logo{
        width:150px;
    }
    
}

.menu-list{
    @include flex(column, space-between,center);
    @include media(semismall){

        @include flex(row,space-between,center);
    }
    
    &__item{
        padding:1rem;
    }
    
    &__link{
        color: black;

    }

}