.main-header{
    margin-top:1rem;
}

.main-header__item{
    
}

.main-menu{
    
    @include flex(row,space-between,center);
    margin-bottom: rem;
    &__logo{
        width:150px;
    }
    
}

.menu-list{
    @include flex(row,space-between,center);
    
    &__item{
        padding:1rem;
    }
    
    &__link{
        color: black;

    }

}