/*Para ocupar el mixin se requiere de un breakpoint, este breakpoint
contiene las medidas que vamos a manejar para nuestras pantallas ya dependera
de nosotros que medidas vamos a tomar porque */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

:root {
  --dark-blue: hsl(243,87%,12%);
  --desaturated-blue: hsl(238,22%,44%);
  --bright-blue: hsl(224,93%,58%);
  --moderate-cyan: hsl(170,45%,43%);
  --grayish-blue: hsl(240,75%,98%);
  --gray: hsl(0,0%,75%);
}

:root {
  --h1-font-size: 1.25rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --body-font-size: 1rem;
  --small-font-size: .9rem;
}

@media screen and (min-width: 640px) {
  :root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --small-font-size: .95rem;
  }
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  /*Example of use 
   @include font (italic,400,1, 5px)
   @include font (normal,400, normal,normal)
   */
}

a {
  text-decoration: none;
  display: block;
}

@media screen and (min-width: 640px) {
  a {
    display: inline-block;
  }
}

ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

.l-container {
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 960px) {
  .l-container {
    margin-left: auto;
    margin-right: auto;
  }
}

.l-footer {
  padding-left: 2rem;
  padding-right: 2rem;
}

.center-i {
  text-align: center;
}

@media screen and (min-width: 960px) {
  .center-i {
    text-align: left;
  }
}

.center {
  text-align: center;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-separation {
  margin-bottom: 5rem;
}

.paragraph {
  font-size: var(--small-font-size);
}

@media screen and (min-width: 960px) {
  .paragraph-information {
    width: 80%;
  }
}

.button {
  padding: .8rem 3rem;
  font-weight: 700;
  font-size: .8rem;
}

.button-blue {
  color: white;
  background-color: var(--bright-blue);
}

.button-banner {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .button-banner {
    width: 50%;
  }
}

@media screen and (min-width: 960px) {
  .button-banner {
    width: 40%;
  }
}

.button-access {
  margin-left: 0;
}

.main-header {
  margin-top: 1rem;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: rem;
}

.main-menu__logo {
  width: 150px;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-list__item {
  padding: 1rem;
}

.menu-list__link {
  color: black;
}

@media screen and (min-width: 960px) {
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 640px) {
  .banner-content {
    padding: 0 6rem;
  }
}

@media screen and (min-width: 960px) {
  .banner-content {
    padding: 0 4rem;
  }
}

.banner-title {
  font-size: var(--h1-font-size);
}

.banner-input {
  width: 100%;
  height: 2.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #bfbfbf;
}

@media screen and (min-width: 640px) {
  .banner-input {
    width: 60%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 640px) {
  .banner-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 960px) {
  .productive-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 640px) {
  .productive-section__item {
    padding: 0 6rem;
  }
}

@media screen and (min-width: 960px) {
  .productive-section__item {
    padding: 0 4rem;
    width: 120%;
  }
}

.productive-img {
  width: 2rem;
  height: 2rem;
  /*
    @include box (200px,300px)
    @include box (200px)
  */
}

.productive-how {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

@media screen and (min-width: 960px) {
  .productive-how {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.productive-link {
  color: var(--moderate-cyan);
}

.testimonial-content {
  margin: 0 3rem;
}

@media screen and (min-width: 960px) {
  .testimonial-content {
    margin-left: 0;
    width: 50%;
    border: 2px solid var(--grayish-blue);
  }
}

.testimonial-img {
  width: 1rem;
  height: 1rem;
  /*
    @include box (200px,300px)
    @include box (200px)
  */
}

.testimonial-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-author__img {
  width: 3rem;
  height: 3rem;
  /*
    @include box (200px,300px)
    @include box (200px)
  */
  border-radius: 50%;
  margin-right: 1rem;
}

.testimonial-author__data {
  font-size: 10px;
}

.testimonial-author__paragraph {
  font-weight: 700;
  font-size: 12px;
}

.access {
  background-color: var(--desaturated-blue);
}

.access-content {
  padding: 3rem;
  color: var(--grayish-blue);
}

@media screen and (min-width: 960px) {
  .access-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.access-content__title {
  font-size: 15px;
}

@media screen and (min-width: 640px) {
  .access-content__title {
    font-size: 2rem;
  }
}

@media screen and (min-width: 960px) {
  .access-information {
    width: 50%;
  }
}

.access-form {
  padding: 0 1rem;
}

@media screen and (min-width: 960px) {
  .access-form {
    width: 50%;
    padding-left: 5rem;
  }
}

@media screen and (min-width: 960px) {
  .access-form > input {
    width: 90%;
    margin-bottom: 1rem;
  }
}

.footer {
  background-color: var(--dark-blue);
  color: var(--grayish-blue);
  font-size: var(--small-font-size);
}

.footer-img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 150px;
}

.footer-icons {
  margin-bottom: 2rem;
}

.footer-icons__content {
  width: 1rem;
  margin-right: 1rem;
}

.footer-nav__list {
  margin-bottom: 2rem;
}

.footer-nav__items {
  padding-bottom: 1rem;
}

.footer-nav__link {
  color: var(--grayish-blue);
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons-networks {
  width: 1.5rem;
  margin: 1rem;
}

.coded {
  margin-bottom: 0;
}
/*# sourceMappingURL=styles.css.map */